.chatbody {
  background-color: #c86d5bb3;
}

.chatApp {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-top: 1%;
  height: 100%;
  width: 100%;
  background-color: #1a1115;
  color: white;
}



.chatApp section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  background-color: #1a1115;
}

.chatmain {
  flex: 1;
  padding: 0.6rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
}

.chatmain::-webkit-scrollbar {
  width: 0.25rem;
}

.chatmain::-webkit-scrollbar-track {
  background: rgb(17 24 39);
  ;
}

.chatmain::-webkit-scrollbar-thumb {
  background: rgb(17 24 39);
  ;
}

.chatform {
  width: 100%;
  padding: 10px;
  bottom: 0;
  background-color: #1a1115;
  display: flex;
  font-size: 1.5rem;
}

.chatform button {
  width: 20%;
  background-color: rgb(62, 19, 19);
}


.chatinput {
  line-height: 1.5;
  width: 100%;
  font-size: 1.5rem;
  background: rgb(166, 107, 107);
  color: white;
  outline: none;
  border: none;
  padding: 0 10px;
}

.chatbutton {
  background-color: #342828;
  border: none;
  color: white;
  padding: 10px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.25rem;
}

.chatbutton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.chatul,
.chatli {
  text-align: left;
  list-style: none;
}

.chatp {
  background: #e5e5ea;
  color: rgb(200, 17, 17);
  padding: 10px 20px;
  border-radius: 25px;
  max-width: 80%;
  word-wrap: break-word;
  margin: 0;
  font-family: 'sofia-pro';
}

@media (min-width: 400px) {
  .chatp {
    max-width: 12rem;
  }

  .chatinput {
    margin-right: 1.5%;
  }

  .chatbutton {
    width: 10%;
    background-color: rgb(62, 19, 19);
    font-size: 1rem;

  }
}

@media (min-width: 300px) {
  .chatp {
    max-width: 10rem;
  }
}

@media (min-width: 768px) {
  .chatp {
    max-width: 15rem;
  }

  .chatinput {
    margin-right: 1.5%;
  }
}

@media (min-width: 992px) {
  .chatp {
    max-width: 30rem;
  }

  .chatinput {
    margin-right: 1.2%;
  }
}

@media (min-width: 1200px) {
  .chatp {
    max-width: 50rem;
  }

  .chatinput {
    margin-right: 1%;
  }
}

.message {
  display: flex;
  align-items: flex-end;
  padding-bottom: 0.8rem;
}

.sent,
.received {
  width: 100%;
}

.sent {
  flex-direction: row-reverse;
}

.received {
  flex-direction: row;
}

.message-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sent .chatp {
  background: #075e54;
  color: white;
}

.received p {
  background: #0f1929;
  color: white;

}

.chatimg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 10px;
}

.message-info>p:last-child {
  color: lightgray;
  font-size: 0.8rem;
  text-align: right;
  margin-top: 5px;
}

.sent .message-info>p:last-child {
  margin-right: 7px;
  text-align: right;
}

.received .message-info>p:last-child {
  background-color: transparent;
  margin-left: 7px;
  text-align: left;
}